body {
    background: $brown;
    overflow: hidden;
}

body,
main,
#app {
    position: relative;
    height: 100vh;
}

.beer {
    position: absolute;
    z-index: 2;
    display: block;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 90%;
}

.bubble {
    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    background: saddlebrown;
    opacity: .4;
    border-radius: 50%;
    -webkit-animation: pulse 3s linear infinite;
}

.bubble--paused {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes pulse {
    0% {
        @include pulseValues(100px);
        opacity: .4;
    }
    25% {
        @include pulseValues(300px);
        opacity: .3;
    }
    50% {
        @include pulseValues(500px);
        opacity: .2;
    }
    75% {
        @include pulseValues(700px);
        opacity: .1;
    }
    100% {
        @include pulseValues(900px);
        opacity: 0;
    }
}
